/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        margin-top: 42px;
    }
    .logo img {
        max-width: 145px;
    }
    .primary-menu>li>a {
        margin-left: 30px;
        ;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .header-topright,.header-top-left{
        float: none;
        text-align: center;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
}